<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        beStrictAboutTestsThatDoNotTestAnything="true"
        colors="true"
        bootstrap="autoload.php"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false">
    <php>
        <includePath>src/</includePath>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="memory_limit" value="512M"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>